<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://code.jquery.com/jquery-2.1.4.min.js"
	crossorigin="anonymous"></script>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
	crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	crossorigin="anonymous"></script>
</head>

<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/home">RealEstateListings</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/listing">Listings <span
							class="sr-only">(current)</span></a></li>
					<li><a href="#">Link</a></li> <%if(locals.bookmarks) {%>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Bookmarks <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/listings/<%=locals.bookmarks[0].ListingID%>"><%=locals.bookmarks[0].link%></a></li>
							<!--<li><a href="#">Another action</a></li>-->
							<!--<li><a href="#">Something else here</a></li>-->
							<!--<li role="separator" class="divider"></li>-->
							<!--<li><a href="#">Separated link</a></li>-->
							<!--<li role="separator" class="divider"></li>-->
							<!--<li><a href="#">One more separated link</a></li>-->
						</ul></li> <%}%>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Link</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false"><%=locals.user.Username%> <span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<%if(locals.user.guest){%>
							<li><a href="/">Sign Up!</a></li> <%}%>
							<%if(!locals.user.guest){%>
							<li><a href="/editprofile">Profile</a></li>
							<li><a href="/addproperty">Add New Property</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/logout">Log Out</a></li> <%}%>
						</ul></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="container">
		<%if (properties.length == 0) { %>
		<div class="media row">
			<div class="col-md-8 col-md-offset-2">
				<H3>No Properties Created</H3>
			</div>
		</div>
		<% } else {%>

		<div class="row">
			<div class="col-md-8 col-md-offset-2" align="center">
				<h3>Managed Property</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 col-md-offset-2">

				<table class="table table-hover" align="center">
					<thead>
						<th>Property</th>
						<th></th>
					</thead>
					<tbody>
						<%for(var i=0; i < properties.length; i++) { %>
						<form method="post" action="/addListing">
							<tr>
								<td><%=properties[i].Street + ", " + properties[i].City +
									", " + properties[i].State + ", " + properties[i].Zip %></td>
								<td><button type="submit" class="btn btn-primary-outline">Create
										Listing</button></td>
								<input type="hidden" name="PropertyID" value=<%=properties[i].PropertyID%>
								/>
							</tr>
						</form>
						<%}%>
					</tbody>
				</table>
			</div>
		</div>
		<%}%>
	</div>
</body>
</html>